{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}

        {% if user.is_authenticated %}
            {% if user.username == post.author.username %}
                both same
                <a class="btn btn-default" href="{% url 'blog:post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                <a class="btn btn-default" href="{% url 'blog:post_delete' pk=post.pk %}"><span class="glyphicon glyphicon-trash"></span></a>
            {% else %}
                both are not same
            {% endif %}
            
        {% else %}
            User not authenticated!
        {% endif %}
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|linebreaks }}</p>
        <br><br>
        <hr>
        <h2>Comments...</h2>
        {{ comments.count }}Comment{{ comments|pluralize }}
        <br>
        <form method="POST">
            {% csrf_token %}
            {{ comment_form.as_p }}
            <input type="submit" value="Submit">
        </form>
        {{post.id}}
        
        <hr>
        {% for comment in comments %}
        {{request.user}}--{{comment.user}}
        <hr>
            <strong>{{ comment.user }}-{{ comment.date_added }}</strong>
            <br>
            {{ comment.content }}
            <hr>
        {% endfor %}
	</div>
{% endblock %}
